<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>PluginType</key>
			<string>1</string>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>X1BUUwE</data>
					<key>Replace</key>
					<data>WlBUUwE</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>ZPTS</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSwE</data>
					<key>Replace</key>
					<data>WldBSwE</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>ZWAK</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>SignatureFixup</key>
		<false/>
		<key>CustomLogo</key>
		<string>Apple</string>
		<key>Arguments</key>
		<string>darkwake=0 slide=0</string>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>embedded</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Language</key>
		<string>en-US:0</string>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>FrequencyMHz</key>
		<integer>1600</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>NoDefaultProperties</key>
		<false/>
		<key>HDMIInjection</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>FgAAAA==</data>
				<key>model</key>
				<string>ALC298</string>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Audio device</string>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<string>NO</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>LANInjection</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>Rww/gPyh</data>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Trust</key>
		<true/>
		<key>Mobile</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>ProvideConsoleGopEnable</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>RebuildAppleMemoryMap</key>
		<false/>
	</dict>
</dict>
</plist>